/busybox.links
/.config
/.config.old
*.o
*.cmd
lib.a

/docs/busybox.1
/include/config/*
/include/autoconf.h

include/bbconfigopts.h
include/bbconfigopts_bz2.h

scripts/basic/docproc
scripts/basic/fixdep
scripts/basic/split-include
scripts/kconfig/conf



/.kconfig.d
/.kernelrelease

/applets/applet_tables
/applets/usage
/applets/usage_pod

/busybox
/busybox_unstripped
/busybox_unstripped.map
/busybox_unstripped.out
